<div class="jumbotron">
  <h1 class="text-center">Bem-vindo ao Contact</h1>
</div>
<button type="button" name="button" class="btn btn-primary" ng-click="">Novo</button>
<input ng-model="filtro" type="search" name="name" placeholder="parte do nome">
<p>Contatos cadastrados: {{contatos.length}}</p>
<p class="text-info" ng-hide="contatos.lenght">
  Não há contatos cadastrados
</p>
<div class="table-responsive">
  <table class="table table-hover">
    <tr>
      <th>Nome</th>
      <th>E-mail</th>
      <th class="text-center">Ação</th>
    </tr>
    <tr ng-repeat="contato in contatos | filter:filtro">
      <td>
        <a href="#">{{contato.nome}}</a>
      </td>
      <td>{{contato.email}}</td>
      <td class="text-center">
        <button type="button" class="btn btn-warning" ng-click="remove(contato)">Remover</button>
      </td>
    </tr>
  </table>
</div>
